apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: calcul13
spec:
  replicas: 7
  selector:
    matchLabels:
      app: calcul13
  template:
    metadata:
      labels:
        app: calcul13
    spec:
      containers:
      - image: moenes/calcul13:latest
        name: calcul13
      schedulerName: default-scheduler
      val: 4
